*{
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
}
#navbar{
    background-color: black;
    height: 90px;
}
#logo{
    margin-left: 20px;
}
#Contact{
    margin-left: 900px;
   font-size: x-large;
   color: #4690ce;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#About{
    margin-left: 30px;
   font-size: x-large;
   color: #b46262;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 100%;
    height: 450px;
    background-image: url("/project/images/2.1.jpeg");
    background-position: center center;
    background-repeat: no-repeat;   
    background-size: 100%;
    animation-name: Anime;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
@keyframes  Anime{
     0%{background-image: url("/project/images/2.1.jpeg");}
     25%{background-image: url("/project/images/2.3.jpeg");}
     35%{background-image: url("/project/images/2.4.jpeg");}
     50%{background-image: url("/project/images/2.5.jpeg");}
     75%{background-image: url("/project/images/2.6.jpeg");}
     80%{background-image: url("/project/images/2.7.jpeg");}
}
.container2{
    width: 70%;
    padding: 10px;
    margin: 90px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    width: 150px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;
}
.box img{
    display: block;
    width: 100%; 
    border-radius: 5px;
}
.box:hover{
    transform:scale(1.3);
    z-index: 2;

}
